@font-face {
    font-family: "NeueHaasUnicaPro";
    src: url('/fonts/NeueHaasUnicaPro.woff2') format('woff2'), url('/fonts/NeueHaasUnicaPro.woff') format('woff');
}

span, input, a, h1, .content h1,
.content h2,
.content h3,
.content h3 {
  font-family: "NeueHaasUnicaPro";
}

.search-input:focus {
  border-color: blue !important; /* Change 'blue' to your desired color */
}


.hx-bg-white,
.hx-bg-dark,
.hx-block,
.hx-w-full,
.hx-appearance-none,
.hx-py-2,
.hx-transition-colors,
.hx-text-base,
.hx-leading-tight,
.hx-border,
.hx-border-current,
.hx-rounded,
.hx-rounded-xl,
.hx-rounded-3xl,
.hx-rounded-lg,
.hx-rounded-md,
.hx-rounded-sm,
.hextra-code-block pre:not(.lntable pre),
.hextra-code-block .filename,
.chroma .lntable,
.content img,
.content div.gist-file,
.btn-secondary,
.btn-primary  {
  border-radius: 0.5rem;
  border-color:rgb(226, 211, 43);
}

.hx-bg-white:focus,
.hx-bg-dark:focus,
.hx-block:focus,
.hx-w-full:focus,
.hx-appearance-none:focus,
.hx-py-2:focus,
.hx-transition-colors:focus,
.hx-text-base:focus,
.hx-leading-tight:focus,
.hx-border:focus,
.hx-border-current:focus,
.hx-rounded:focus,
.hx-rounded-xl:focus,
.hx-rounded-3xl:focus,
.hx-rounded-lg:focus,
.hx-rounded-md:focus,
.hx-rounded-sm:focus,
.content:focus img,
.content:focus div.gist-file,
.btn-secondary:focus,
.btn-primary:focus  {
  border-radius: 0rem;
  border-color:rgb(226, 159, 43);
}


*:focus { 
  border-color: #b871ce;
}